<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer a question</title>
</head>
<style>
    body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 11pt;
    background-color: #FAFAFA;}
</style>
<body>
    <h1>Answer a question</h1><br>
    <form action="{{ url_for("answer_question") }}" method="post">
        <label for="answer">Add an answer:</label><br>
        <textarea name="answer" id="answer" minlength="5" maxlength="1000" rows="4" cols="60"></textarea><br>
        <input type="submit" value="Answer">
    </form>
</body>
</html>