<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}

</head>
<body>
<p><h1><a href="/">Ask-Mate: now you know.</a></h1>
<hr><br>
{% for message in get_flashed_messages() %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div><br>
{% endfor %}

    {% block body %}{% endblock %}

</body>
</html>