{% extends 'base.html' %}

{% block head %}
    <title>Ask-Mate: All questions</title>

{% endblock %}

{% block body %}
<p><h2>Questions' list:</h2>
<hr><br>
<table>
  <tr>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
  </tr>
    <tr>
    {% for dict in data  %}
        {% for key, value in dict.items() %}
            {% if key == 'id' %}
                <td><a href="/question/{{ value }}">{{ value }}</a></td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
    {% endfor %}
        </tr>
    {% endfor %}

</table>

{% endblock %}