{% extends 'base.html' %}

{% block head %}

    <title>Ask-Mate: Question {{ question['id'] }}</title>

{% endblock %}


{% block body %}

    <p><h3>Question {{ question['id'] }} - <i>the {{ headers[3] }}:</i></h3>
    <h2>{{ question[headers[3]] }}</h2>
    <br><p><h3><i>{{ headers[4] }}:</i></h3>
    <p><h2>{{ question[headers[4]] }}</h2>
    <br>
    <p><h3>Author:&nbsp;&nbsp;
    {% if user == [] %}
        <b>Guest</b>
    {% else %}
        <b>{{ user[0]['user_name'] }}</b>
    {% endif %}</h3>
    <br><br>
    {% if question['image'] != None %}
        <br><p><h3><i>{{ headers[5] }}:</i></h3>
        <img src="/{{ question['image'] }}" alt="Picture" style="width: 30%;" />
    {% endif %}
    <br><br>
    <p><h4><i>tags:</i></h4>
    {% for tag in tags %}
        <b>
            <a href={{ url_for('delete_tag', question_id=question['id'], tag_id=tag['id']) }}>
                <img src="/static/images/x.png" alt="Delete" width="11" title="Delete"/></a>
            {{ tag['name'] }} &nbsp;&nbsp;&nbsp;&nbsp;</b>
    {% endfor %}
    <a href={{ url_for('assign_tag_to_question', question_id=question['id']) }}><img src="/static/images/plus.png" alt="Plus" width="10" title="Add new tag"/></a>
    <br>
    <br>
    <h5>Actions:</h5><hr>
    <table>
            <tr><th class="question">{{ headers[2] }}: {{ question[headers[2]] }}</th></tr>
           <tr class="question">
               <td class="question"><a href={{ url_for('question_voting_up', question_id=question['id']) }}><img src="/static/images/thumb_up.ico" alt="Thumb up button" style="width: 10%;" title="Vote up"/></a></td>
               <td class="question"><a href={{ url_for('question_voting_down', question_id=question['id']) }}><img src="/static/images/thumb_down.png" alt="Thumb down button" style="width: 10%;" title="Vote down"/></a></td>
               <td class="question"><a href={{ url_for("add_answer_question", question_id=question["id"]) }}><img src="/static/images/answer.png" alt="Answer the question" style="width: 10%" title="Answer the question"></a></td>
               <td class="question"><a href={{ url_for('question_edit', question_id=question['id']) }}><img src="/static/images/edit.png" alt="Edit button" style="width: 10%;" title="Edit"/></a></td>
               <td class="question"><a href={{ url_for('question_delete', question_id=question['id']) }}><img src="/static/images/delete.png" alt="Delete button" style="width: 10%;" title="Delete"/></a></td>
               <td class="question"><a href={{ url_for('add_comment_question', question_id=question['id']) }}><img src="/static/images/comment.png" alt="Add a comment" style="width: 10%;" title="Add a comment"/></a></td>

           </tr></table>
    <br>

    {% if comments %}
    <br>
    <h3><i>Comments to question {{ question['id'] }}:</i></h3>
    {% for comment in comments %}
        <b>
            {% if user == [] %}
                Guest:&nbsp;&nbsp;
            {% else %}
                {{ user[0]['user_name'] }}:&nbsp;&nbsp;
            {% endif %}
            {{ comment['message'] }}</b><br>at {{ comment['submission_time'] }}
        <a href={{ url_for('delete_question_comment', question_id=question['id']) }}><img src="/static/images/delete.png" alt="Delete button" style="width: 1%;" title="Delete"/></a>
        <br><br>
    {% endfor %}
    {% endif %}
    <br>
    <hr><br>
    {% if answers %}
    <p><h3><i>Answers to question {{ question['id'] }}:</i></h3>
    <h4>Author:&nbsp;&nbsp;
        {% if user == [] %}
                Guest
        {% else %}
            {{ user[0]['user_name'] }}
        {% endif %}</h4>
    {% for answer in answers %}
       <div style="border: 3px dashed #606060; margin: 10px; width: 75%"><p>{{ answer['message'] }}
           <br>
           {% if answer['image'] != None %}
               <img src="/{{ answer['image'] }}" alt="Picture" style="width: 30%;" /><br><br>
           <br><br>
            {% endif %}

           {% for comment in comments_a %}
               {% if answer['id'] == comment %}
                   <h3><i>Comments to answer:</i></h3>
                   <b>
                       {% if user == [] %}
                            Guest:&nbsp;&nbsp;
                       {% else %}
                           {{ user[0]['user_name'] }}:&nbsp;&nbsp;
                       {% endif %}
                       {{ comments_a[comment]['message'] }}</b><br>at {{ comments_a[comment]['submission_time'] }}<a href={{ url_for('delete_answer_comment',answer_id=answer['id']) }}><img src="/static/images/delete.png" alt="Delete button" style="width: 1%;" title="Delete"/></a>
                   <br>
               {% endif %}
    {% endfor %}

           <br><br>
           <p><h5>Actions:</h5>
           <hr>
           <table>
               <tr><th class="answer">{{ headers[2] }}: {{ answer[headers[2]] }}</th></tr>
           <tr class="answer">
               <td class="answer"><a href={{ url_for('answer_voting_up', answer_id=answer['id']) }}><img src="/static/images/thumb_up.ico" alt="Thumb up button" style="width: 10%;" /></a></td>
               <td class="answer"><a href={{ url_for('answer_voting_down', answer_id=answer['id']) }}><img src="/static/images/thumb_down.png" alt="Thumb down button" style="width: 10%;" /></a></td>
               <td class="answer"><a href={{ url_for('answer_edit', answer_id=answer['id']) }}><img src="/static/images/edit.png" alt="Edit button" style="width: 10%;" /></a></td>
               <td class="answer"><a href={{ url_for('answer_delete', answer_id=answer['id']) }}><img src="/static/images/delete.png" alt="Delete button" style="width: 10%;" /></a></td>
               <td class="answer"><a href={{ url_for('add_comment_answer', question_id=question['id'], answer_id=answer['id']) }}><img src="/static/images/comment.png" alt="Add a comment to answer" style="width: 10%;" /></a></td>

           </tr></table>
           </div><br>
    {% endfor %}
    {% endif %}









{% endblock %}