{% extends 'base.html' %}

{% block head %}

    <title>Ask-Mate: Question {{ question['id'] }}</title>

{% endblock %}


{% block body %}

    <p><h3>Question {{ question['id'] }} - <i>the {{ headers[3] }}:</i></h3>
    <h2>{{ question[headers[3]] }}</h2>
    <br><p><h3><i>{{ headers[4] }}:</i></h3>
    <p><h2>{{ question[headers[4]] }}</h2>
    <br>
    <p><h3>Author:&nbsp;&nbsp;{{ question['user_name'] }}</h3>
    <br><br>
    {% if question['image'] != None %}
        <br><p><h3><i>{{ headers[5] }}:</i></h3>
        <img src="/{{ question['image'] }}" alt="Picture" style="width: 30%;" />
    {% endif %}
    <br><br>
    <p><h4><i>tags:</i></h4>
    {% for tag in tags %}
        <b>
            {% if session['user'] %}
                {% if session['user']['id'] == question['user_id'] %}
                    <a href={{ url_for('delete_tag', question_id=question['id'], tag_id=tag['id']) }}>
                        <img src="/static/images/x.png" alt="Delete" width="11" title="Delete"/>
                    </a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('display_list_questions_by_tag', tag_name=tag['name']) }}">{{ tag['name'] }}</a> &nbsp;&nbsp;&nbsp;&nbsp;</b>
    {% endfor %}
    {% if session['user'] %}
        {% if session['user']['id'] == question['user_id'] %}
            <a href={{ url_for('assign_tag_to_question', question_id=question['id']) }}><img src="/static/images/plus.png" alt="Plus" width="10" title="Add new tag"/></a>
        {% endif %}
    {% endif %}
    <br>
    <br>
    {% if session['user'] %}
        <h5>Actions:</h5><hr>
        <table>
            <tr><th class="question">{{ headers[2] }}: {{ question[headers[2]] }}</th></tr>
            <tr class="question">
                {% if session['user']['id'] != question['user_id'] %}
                    <td class="question"><a href={{ url_for('question_voting_up', question_id=question['id']) }}><img src="/static/images/thumb_up.ico" alt="Thumb up button" style="width: 10%;" title="Vote up"/></a></td>
                    <td class="question"><a href={{ url_for('question_voting_down', question_id=question['id']) }}><img src="/static/images/thumb_down.png" alt="Thumb down button" style="width: 10%;" title="Vote down"/></a></td>
                    <td class="question"><a href={{ url_for("add_answer_question", question_id=question["id"]) }}><img src="/static/images/answer.png" alt="Answer the question" style="width: 10%" title="Answer the question"></a></td>
                {% elif session['user']['id'] == question['user_id'] %}
                    <td class="question"><a href={{ url_for('question_edit', question_id=question['id']) }}><img src="/static/images/edit.png" alt="Edit button" style="width: 10%;" title="Edit"/></a></td>
                    <td class="question"><a href={{ url_for('question_delete', question_id=question['id']) }}><img src="/static/images/delete.png" alt="Delete button" style="width: 10%;" title="Delete"/></a></td>
                {% endif %}
                <td class="question"><a href={{ url_for('add_comment_question', question_id=question['id']) }}><img src="/static/images/comment.png" alt="Add a comment" style="width: 10%;" title="Add comment"/></a></td>
           </tr>
        </table>
    {% endif %}
    <br>

    {% if comments %}
    <br>
    <h3><i>Comments to question {{ question['id'] }}:</i></h3>
    {% for comment in comments %}
        <b>{{ comment['user_name'] }}:&nbsp;&nbsp;{{ comment['message'] }}</b><br>at {{ comment['submission_time'] }}
            {% if session['user'] %}
                {% if session['user']['id'] == comment['user_id'] %}
                    <a href={{ url_for('delete_question_comment', question_id=question['id'], comment_id=comment['id']) }}>
                    <img src="/static/images/delete.png" alt="Delete button" style="width: 1%;" title="Delete" onclick="return confirm('Are you sure you want to delete this comment?');"/></a>
                    <a href={{ url_for('edit_comment', comment_id=comment['id']) }}>
                    <img src="/static/images/edit_comment.png" alt="Edit button" style="width: 1%;" title="Edit"/></a>
                {% endif %}
            {% endif %}<br>
        {% if comment['edited_count'] > 0 %}
            (edited {{ comment['edited_count'] }} times)<br>
        {% endif %}
        <br>
    {% endfor %}
    {% endif %}
    <br>
    <hr><br>
    {% if answers %}
        <p><h3><i>Answers to question {{ question['id'] }}:</i></h3>
        {% for answer in answers %}
            <div style="border: 3px dashed #606060; margin: 10px; width: 75%"><p>{{ answer['user_name'] }}:&nbsp;&nbsp;{{ answer['message'] }}<br>
            <br>
            {% if session %}
                {% if answer['marked'] == 'no' %}
                    <form action="{{ url_for("mark_an_answer", question_id=question['id'], answer_id=answer['id'], option='yes') }}" method="get">
                    <button type="submit" value="submit">Accept this answer as value</button></form>
                {% elif session['user']['id'] != question['user_id'] and answer['marked'] == 'yes' %}
                    <h3><b>*** Answer marked as value ***</b></h3>
                {% elif session['user']['id'] == question['user_id'] and answer['marked'] == 'yes' %}
                    <h3><b>*** Answer marked as value ***</b></h3><br><br>
                    <form action="{{ url_for("mark_an_answer", question_id=question['id'], answer_id=answer['id'], option='no') }}" method="get">
                    <button type="submit" value="Submit">This answer is not value</button></form>
                {% endif %}
            {% endif %}
            <br>
            {% if answer['image'] != None %}
                <img src="/{{ answer['image'] }}" alt="Picture" style="width: 30%;" /><br><br>
            <br><br>
            {% endif %}
            <h3><i>Comments to answer:</i></h3>
                {% for comment in comments_a.values() %}
                    {% for dict in comment %}
                        {% if answer['id'] == dict['answer_id'] %}
                            <b>{{ dict['user_name'] }}:&nbsp;&nbsp;{{ dict['message'] }}</b><br>at {{ dict['submission_time'] }}
                            {% if session['user'] %}
                                {% if session['user']['id'] == dict['user_id'] %}
                                    <a href={{ url_for('delete_answer_comment',comment_id=dict['id'], question_id=question['id']) }}>
                                        <img src="/static/images/delete.png" alt="Delete button" style="width: 1%;" title="Delete" onclick="return confirm('Are you sure you want to delete this comment?');"/>
                                    </a>
                                    <a href={{ url_for('edit_comment', comment_id=dict['id']) }}>
                                        <img src="/static/images/edit_comment.png" alt="Edit button" style="width: 1%;" title="Edit"/>
                                    </a>
                               {% endif %}
                                <br>
                            {% endif %}
                            {% if dict['edited_count'] > 0 %}
                            (edited {{ dict['edited_count'] }} times)<br>
                            {% endif %}
                           <br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            <br><br>
            {% if session['user'] %}
                <p><h5>Actions:</h5>
                <hr>
                <table>
                    <tr><th class="answer">{{ headers[2] }}: {{ answer[headers[2]] }}</th></tr>
                    <tr class="answer">
                        {% if session['user']['id'] != answer['user_id'] %}
                            <td class="answer"><a href={{ url_for('answer_voting_up', answer_id=answer['id']) }}><img src="/static/images/thumb_up.ico" alt="Thumb up button" style="width: 10%;" title="Vote up"/></a></td>
                            <td class="answer"><a href={{ url_for('answer_voting_down', answer_id=answer['id']) }}><img src="/static/images/thumb_down.png" alt="Thumb down button" style="width: 10%;" title="Vote down"/></a></td>
                        {% elif session['user']['id'] == answer['user_id'] %}
                            <td class="answer"><a href={{ url_for('answer_edit', answer_id=answer['id']) }}><img src="/static/images/edit.png" alt="Edit button" style="width: 10%;" title="Edit"/></a></td>
                            <td class="answer"><a href={{ url_for('answer_delete', answer_id=answer['id']) }}><img src="/static/images/delete.png" alt="Delete button" style="width: 10%;" title="Delete"/></a></td>
                        {% endif %}
                        <td class="answer"><a href={{ url_for('add_comment_answer', question_id=question['id'], answer_id=answer['id']) }}><img src="/static/images/comment.png" alt="Add a comment to answer" style="width: 10%;" title="Add comment"/></a></td>
                    </tr>
                </table>
            {% endif %}
            </div><br>
        {% endfor %}
    {% endif %}




{% endblock %}